{% extends "website/base.html" %}

{% load static custom_tags %}

{% block title %}Añadir records{% endblock %}

{% block content %}
<section class="flex flex-col w-10/12 mx-auto my-2">

    <form action="{% url 'add_record' %}" method="post" enctype="multipart/form-data">
        <div class="flex flex-col w-full max-w-sm mx-auto my-4 py-4">
    		{% csrf_token %}
    		<div class="flex flex-col justify-between gap-4 tex-center">
                {{ record_form.name }}
                {{ record_form.image }}
    			{{ record_form.game }}
    			{{ record_form.description }}
    		</div>
    	   <input class="btn" type="submit" value="Añadir Récord">
        </div>
	</form>
</section>

{% endblock %}
