{% extends "website/base.html" %}
{% load static %}

{% block title %}Añadir expansiones{% endblock %}

{% block content %}

    <section class="block m-auto">
        {% include "website/partials/hero.html" with title="Añadir Expansiones" %}
        <form class="w-full max-w-md mx-auto" action="{% url 'create_expansions_in_game' game_id %}" method="post">
            {% csrf_token %}
            
                <div class="grid grid-cols-4 text-center my-2">
                    <p class="font-bold italic col-span-2">Expansión *</p>
                    <p class="font-bold italic">Losetas</p>
                    <p class="font-bold italic">Reglas</p>
                </div>
                <div class="grid grid-cols-4 text-center">
                    <p class="col-span-2">{{ expansions_in_game_form.expansion }}</p>
                    <p class="">{{ expansions_in_game_form.use_tiles }}</p>
                    <p class="">{{ expansions_in_game_form.use_rules }}</p>
                </div>
                <input class="btn my-4" type="submit" name="another_expansion" value="Añadir">
        </form>

        {% if expansions_in_game %}
            <div class="w-full max-w-2xl mx-auto">
                {% include "website/partials/hero.html" with title="Expansiones" %}
                {% include 'website/partials/expansions_box.html' with can_remove_expansion=1 %}
            </div>
        {% endif %}
        <a href="{% url 'create_players_in_game' game_id %}" class="btn">Siguiente paso</a>
    </section>
{% endblock %}
