{% extends "website/base.html" %}
{% load static %}

{% block title %}Añadir jugadores{% endblock %}

{% block content %}
    
    <section class="block">
        {% include "website/partials/hero.html" with title="Elegir Participantes" %}
        <form class="w-full max-w-sm mx-auto" action="{% url 'create_players_in_game' game_id %}" method="post">
            {% csrf_token %}
            
            <div class="grid grid-rows-2 p-2 mx-auto">
                <div class="grid grid-cols-3 items-center gap-2">
                    <p class="text-right">Elegir jugador:</p>
                    <p class="col-span-2">{{ players_in_game_form.player }}</p>
                    <p class="text-right">Elegir color:</p>
                    <p class="col-span-2">{{ players_in_game_form.color }}</p>
                </div>

                <div class="mx-2">
                    <input class="btn w-full mt-4" type="submit" name="another_player" value="Añadir">
                </div>
                
            </div>
        </form>
        {% if players_in_game %}

            <div class="flex flex-col w-12/12 my-2 p-4 w-full max-w-md mx-auto">
                {% include "website/partials/hero.html" with title="Participantes" %}

                {% for player in players_in_game %}
                    <div class="grid grid-cols-3 items-center my-2">
                        {% include "website/partials/meeple.html" with color=player.color|lower size=8 %}
                        <p class="text-left mr-2">{{ player.player }}</p>
                        <form action="{% url 'create_players_in_game' game_id %}" method="post">
                            {% csrf_token %}
                            <label>
                                <input class="hidden" type="submit">
                                <input class="hidden" name="delete_player_in_game_id" value="{{ player.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red hover:text-gold cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </label>
                        </form>
                    </div>
                {% endfor %}
            </div>

        {% endif %}


        <a href="{% url 'in_game' game_id %}" class="btn">Iniciar partida</a>
    </section>

{% endblock %}
