{% extends "website/base.html" %}

{% block title %}Crear jugadores{% endblock %}

{% block content %}

<section class="block m-auto">
    {% include "website/partials/hero.html" with title="Añadir Jugador" %}
    <form class="w-full max-w-sm mx-auto" action="{% url 'create_player'%}" method="post" autocomplete="off">
        {% csrf_token %}

        <div class="flex items-center border-b border-teal-500 py-2 my-2">
            {{ player_form.name }}
            <input class="btn" type="submit" value="Crear jugador">
        </div>
    </form>
    <a href="{% url 'create_game'%}" class="btn">Siguiente paso</a>

</section>

{% endblock %}
