{% extends "website/base.html" %}

{% block title %}Crear jugadores{% endblock %}

{% block content %}

<section class="my-2">
    <form class="w-full max-w-sm mx-auto" action="{% url 'create_player'%}" method="post">
        {% csrf_token %}

        <div class="flex items-center border-b border-teal-500 py-2 my-2">
            {{ player_form.name }}
            <input class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit" value="Crear jugador">
        </div>
    </form>

</section>

{% include 'website/partials/instructions.html' with step=1 %} 

<div class="w-full max-w-sm mx-auto my-2">
    <a href="{% url 'create_game'%}" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full w-full text-center">Siguiente paso</a>
</div>

{% endblock %}