{% extends "website/base.html" %}
{% load custom_tags %}

{% block title %}Partidas{% endblock %}

{% block content %}
<section class="flex flex-col w-full 2xl:w-1/2 mx-auto">
    <div class="grid grid-cols-{{players|length|add:1}}">
        <div class=""></div>
        {% for player in players %}
            <div class="text-center bg-{% get_medal_color_by_position forloop.counter %}">{{ player.name }}</div>
          {% endfor %}
    </div>
    <div class="grid grid-cols-{{players|length|add:1}}">
        <div>Partida</div>
        {% for _ in players|length|get_range %}
            <div class="font-bold text-center">Posición | Puntos</div>
        {% endfor %}
    </div>
    <div class="flex flex-col border-2">
        {% for game_id,data in data_per_game.items %}
        <div class="grid grid-cols-{{players|length|add:1}}">
            <div><a class="underline text-red-500" href="{% url 'game_info' game_id %}" title="">#{{ game_id }}</a></div>
            {% for player_name,game_data in data.items %}
                {% if game_data %}
                    <div class="text-center font-bold bg-{% get_medal_color_by_position game_data.position %}">{{ game_data.position }} | {{ game_data.score }} </div>
                {% else %}
                    <div class="text-center">N/A</div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>{{data}}</div>
</section>
{% endblock %}
