{% extends "website/base.html" %}
{% load static custom_tags %}

{% block title %}Partidas{% endblock %}

{% block content %}
<section class="block">
    {% include "website/partials/hero.html" with title="Partidas" big="big"%}
    <table class="table-auto border-collapse">
      <thead>
        <tr>
            <th></th>
            <th class="games-cell games-header-cell">
                <div class="flex justify-center items-center">
                <svg class="h-6 w-6 mr-1 inline-block" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="yellow" fill-rule="evenodd">
                        <g>
                            <path d="M15,9 C16.6568542,9 18,7.65685425 18,6 L20,6 C20,8.76142375 17.7614237,11 15,11 C14.9666494,11 14.9333751,10.9996735 14.90018,10.9990235 C14.5028122,12.9586176 12.9594559,14.5022333 11,14.8999819 L11,17 L16,19 L16,20 L4,20 L4,19 L9,17 L9,14.8999819 C7.04054412,14.5022333 5.49718782,12.9586176 5.09981999,10.9990235 C5.06662494,10.9996735 5.0333506,11 5,11 C2.23857625,11 0,8.76142375 0,6 L2,6 C2,7.65685425 3.34314575,9 5,9 L5,4 L2,4 L2,6 L0,6 L0,2 L5,2 L5,0 L15,0 L15,2 L20,2 L20,6 L18,6 L18,4 L15,4 L15,9 Z"></path>
                        </g>
                    </g>
                    </svg>
                <span class="">Ganador</span>
                </div>
            </th>

            <th class="games-cell games-header-cell">
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 inline-block text-orange" fill="currentColor" viewBox="0 0 24 24" stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                </svg>
                <span class="">Al palo</span>
                </div>
            </th>

            <th class="games-cell games-header-cell">
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 inline-block text-green" fill="currentColor" viewBox="0 0 24 24" stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>
                <span class="">Podio</span>
                </div>
            </th>

            <th class="games-cell games-header-cell">
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 inline-block text-pink" fill="currentColor" viewBox="0 0 24 24" stroke="black">
                  <path d="M12 14l9-5-9-5-9 5 9 5z" />
                  <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
                <span class="">Aprendiz</span>
                </div>
            </th>

            <th class="games-cell games-header-cell">
                <div class="flex justify-center items-center">
                <svg class="h-5 w-5 mr-1 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.34 15.66A7.97 7.97 0 0 0 9 17.94V10H5V8h4V5.83a3 3 0 1 1 2 0V8h4v2h-4v7.94a7.97 7.97 0 0 0 4.66-2.28l-1.42-1.42h5.66l-2.83 2.83a10 10 0 0 1-14.14 0L.1 14.24h5.66l-1.42 1.42zM10 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
                <span class="">Rezagado</span>
                </div>
            </th>


            <th class="games-cell games-header-cell items-center">
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 inline-block text-red" fill="currentColor" viewBox="0 0 24 24" stroke="black">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                    </svg>
                    <span class="">Farolillo</span>
                </div>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        {% for game in games %}
        <tr class="hover:bg-gold games-header-cell">
            <td class="flex flex-col games-cell ">
                <a class="text-center font-bold" href="{% url 'game_info' game.id %}">#{{ game.id }}{% if game.draw %}*{% endif %}</a>
                <span class="text-xs">{{ game.start_date }}</span>
            </td>
            {% for player in game.game_players %}
            <td class="games-cell">
                <a class="flex items-center" href="{% url 'game_info' game.id %}">
                    {% include "website/partials/meeple.html" with color=player.color|lower size=8 %}
                    <span class="mx-1">{{ player.player.name }}</span>
                    <span class="font-bold">({{ player.score }})</span>
                </a>
            </td>
            {% endfor %}
            {% for cell in game.remaining_spots %}
                <td class="empty-cell games-cell"></td>
            {% endfor %}
        </tr>
        {% endfor %}

      </tbody>
    </table>
</section>
{% endblock %}
