{% extends "website/base.html" %}

{% load static custom_tags %}

{% block title %}En partida{% endblock %}

{% block content %}
<section class="relative flex flex-col min-w-lg mx-auto my-2">

    <div class="grid grid-cols-{{players_in_game|length}} z-10 w-full mx-auto p-2">
        {% for player in players_in_game %}
            <div class="flex items-center font-bold text-center justify-center">
            	{% with meeple_url='assets/meeple_'|add:player.color|lower|add:'.png' %}
            		<img class="max-h-6 mr-2" src="{% static meeple_url %}" alt="">
    			{% endwith %}
            	<p class="flex items-center">
            		<span class="text-xl mr-2">{{ player.player.name }}</span>
            		<span class="text-2xl">{% get_total_points player.player.name %}</span></p>
            </div>
        {% endfor %}
    </div>

    <div class="grid grid-cols-{{players_in_game|length}} w-full my-2 py-2 border-b-2 border-solid">
        {% for player in players_in_game %}
            <div class="text-center">
                <form action="{% url 'in_game' game.id %}" method="post" class="flex flex flex-col" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="player_id" value="{{player.id}}">
                    <input class="border-4 border-solid border-{{player.color|lower}}{% if player.color != 'BLACK' %}-500{% endif %} text-center w-full mx-auto text-2xl" type="text" name="points_to_add" value="" placeholder="0">
                    <input class="bg-{{player.color|lower}}{% if player.color != 'BLACK' %}-500{% endif %} hover:bg-{{ player.color|lower }}{% if player.color != 'BLACK' %}-700{% endif %} text-white font-bold py-2 px-4 w-full mx-auto" type="submit" value="a {{ player.player.name }}">
                </form>
            </div>
        {% endfor %}
    </div>

    <div class="grid grid-cols-{{players_in_game|length}} w-full max-h-80 overflow-y-scroll">
    	{% for player in players_in_game %}
			<div class="">
    			{% get_points_list player.player.name as point_list %}
    			{% for points in point_list %}
	    			<div class="text-center text-md border-r-2 border-b-2 border-solid border-black">{{ points }}</div>
	    		{% endfor %}
			</div>
		{% endfor %}
    </div>	

    <div class="grid grid-cols-2 w-full max-w-sm mx-auto my-4 py-4 border-b-2 border-solid">
    	<form class="flex " action="{% url 'in_game' game.id %}" method="post" class="flex" enctype="multipart/form-data">
    		{% csrf_token %}
    		<div>
    			{{ images_form.name }}
    			{{ images_form.image }}
    		</div>
    		<div>
    			<input class="h-full bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-lg mx-auto" type="submit" value="Subir imagen">
    		</div>
		</form>
    </div>
    <div>
    	<form action="{% url 'finalize' game.id %}" method="post" class="flex">
    		{% csrf_token %}
    		<input class="bg-yellow-700 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full w-full mx-auto" type="submit" value="Finalizar Partida">
		</form>
    </div>
</section>

{% endblock %}
