{% extends "website/base.html" %}
{% load custom_tags %}

{% block title %}Inicio{% endblock %}

{% block content %}

<section class="grid grid-cols-6 flex flex-col w-full mx-auto my-auto font-sans">
    <div class="col-span-5">
        <div class="block">
            {% include "website/partials/hero.html" with title="Bienvenidos a Kuevassone" big="big" %}
            <p class="text-center text-xl my-8">Nuestra pequeña <span class="italic">Kueva</span> digital para nuestras partidas de <a class="font-bold text-gold hover:text-orange underline" href="https://es.wikipedia.org/wiki/Carcassonne_(juego)" target="_blank" title="">Carcassonne</a></p>
            <div class="flex justify-center gap-8">
                <div>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://wikicarpedia.com/index.php/Main_Page/es" title="">WikiCarpedia</a> (Instrucciones)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://carcassonneblog.wordpress.com/2015/04/01/las-reglas-en-espanol-de-todas-las-expansiones-de-carcassonne/" title="">Wordpress</a> (Instrucciones)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://www.carcassonnecentral.com/community/" title="">Carcassonne Central</a> (Foros/Comunidad)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://www.hans-im-glueck.de/_Resources/Persistent/5e28ae929b2a02bb8feccd2e2315c98f2ed58d9b/CarcBasis_SoloRegel_9_E.pdf" title="">Solo variant</a> (Instrucciones <span class="italic">Forever alone</span>)</p>
                </div>
                <div>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://www.hans-im-glueck.de/en/games/carcassonne-en.html" title="">Hans Im Glück</a> (Creador)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://cundco.de/en/" title="">Cundco</a> (tienda)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://www.meeplesource.com/" title="">MeepleSource</a> (tienda)</p>
                    <p class="my-1 text-left"><a target="_blank" class="underline text-gold hover:text-orange" href="https://www.youtube.com/watch?v=T_W12cnsXZw&list=PLOr27fEnfYc7oP7HtmfonfnXui4l7z2cc" title="">Playlist</a> (música de fondo)</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="candle">
            <div class="flame">
                <div class="shadows"></div>
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            <div class="wick"></div>
            <div class="wax"></div>
        </div>
    </div>
</section>

{% endblock %}
