{% extends "website/base.html" %}
{% load static custom_tags %}

{% block extra_js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block title %}Jugadores{% endblock %}

{% block content %}
<section class="block flex flex-col w-full mx-auto">
    {% include "website/partials/hero.html" with title="Jugadores" big="big"%}

    {% include "website/partials/achievements.html" %}

    <div class="grid grid-cols-2 gap-4 w-full p-4 m-2">
        {% for player in players_global %}
            <div class="grid grid-rows-3 border-2 border-solid border-black p-4 bg-opacity-10 bg-white">
                <div class="grid grid-cols-2 gap-4 col-span-2 items-center">
                    {% include "website/partials/hero.html" with title=player.name %}
                    {% with player.favourite_color|lower as favourite_color %}
                        <div class="flex flex-col gap-4 items-center font-bold text-xl text-{{ favourite_color }}">
                            <p class="flex items-center justify-between">{% include "website/partials/meeple.html" with color=favourite_color size=10 %}</p>
                        </div>
                    {% endwith %}
                    <table class="table-auto border-collapse col-span-2">
                      <thead>
                        <tr class="">
                            <th class="bg-black games-cell">Jugadas</th>
                            <th class="bg-gold games-cell">Ganadas</th>
                            <th class="bg-red games-cell">Farolillos</th>
                            <th class="bg-green games-cell">Posición Media</th>
                            <th class="bg-orange games-cell">WR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                            <td class="games-cell font-bold text-lg">{{ player.games_played }}</td>
                            <td class="games-cell font-bold text-lg">{{ player.wins }}</td>
                            <td class="games-cell font-bold text-lg">{{ player.losses }}</td>
                            <td class="games-cell font-bold text-lg">{{ player.average_position }}</td>
                            <td class="games-cell font-bold text-lg">{{ player.win_rate }}%</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="bars-chart-container col-span-2 row-span-2">
                    <canvas id="bar-chart-{{player.id}}"></canvas>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block extra_js_end %}
    <script>
        const windowLoad = callback => {
            
            if (window.addEventListener)
                window.addEventListener("load", callback, false);
            else
                window.attachEvent("onload", callback);
        }
    </script>

    {% include 'website/partials/player_bar_chart.html' with players=players %}
{% endblock %}
