<div class="w-full my-2 mx-auto p-4 flex flex-col">
    <div class="w-full grid grid-cols-{% if can_remove_expansion %}5{% else %}4{% endif %} text-center text-white">
        <p class="font-bold col-span-2 text-left">Nombre</p>
        <p class="font-bold">Losetas ({{ total_number_of_tiles }})</p>
        <p class="font-bold">Reglas</p>
    </div>
    {% for expansion in expansions_in_game %}
        {% include 'website/partials/expansion.html' with can_remove_expansion=can_remove_expansion %}
    {% endfor %}

    <div class="flex justify-center gap-2 italic text-sm mt-4">
        <p class="text-gold">*Ω = expansiones</p>
        <p class="text-silver">*∆ = miniexpansiones</p>
    </div>

</div>


