<div class="w-full my-2 mx-auto p-4 flex flex-col">
    <div class="grid gap-2 {% if game_images.count > 2 %}grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4{% elif game_images.count == 2%}grid-cols-2{% else %}grid-cols-1{% endif %}">
        {% for image in game_images %}
            <div class="mx-auto">
                <p class="italic text-gold text-2xl text-center font-bold my-1">{{ image.description }}</p>
                <a class="" href="{{ image.image.url }}" target="_blank">
                    <img class="max-h-80" src="{{ image.image.url }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
