
<section class="w-full max-w-xl mx-auto my-4">     
    <p>Instrucciones:</p>
    <ul>
        <li class="{% if step is 1 %}font-bold{% endif %}" >1.Crear perfiles de jugadores que no existan ya. Antiguos perfiles de jugadores (de cualquier partida pasada) estarán disponibles.</li>
        <li class="{% if step is 2 %}font-bold{% endif %}" >2.Asignar expansiones a la nueva partida.</li>
        <li class="{% if step is 3 %}font-bold{% endif %}" >3.Asignar jugadores a la nueva partida.</li>
    </ul>
</section>  
