{% load custom_tags %}

{% for player in players_global %}
    {% get_position_chart_data player.id as data %}
    <script>

        var bars{{ player.name }} = {
            type: 'bar',
            data: {
              labels: {{ chart.labels|safe }},
              datasets: [{
                label: 'Veces en esta posición',
                backgroundColor: [
                    '#d4af37', '#999999', '#b08d57', '#7c0e0e'
                ],
                data: {{ data|safe }}
              }]          
            },
            options: {
              responsive: true,
              legend: {
                display: false,
                position: 'top',
              },
              title: {
                display: false,
                text: 'Diagrama de posiciones'
              },
              scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        stepSize: 1
                    }
                }]
              }
            }
        };

        windowLoad(function() {
          var barsctx{{ player.id }} = document.getElementById('bar-chart-{{player.id}}').getContext('2d');
          window.barschart{{ player.id }} = new Chart(barsctx{{ player.id }}, bars{{ player.name }});
        });

    </script>
{% endfor %}
