<div class="grid grid-cols-2 p-2">
    <div>
        {% if record_title%}
            <p>
                <a class="font-bold underline hover:text-green-500" href="{% url 'game_info' record.game.id %}" title="">{{ record.game.name }}</a>
            </p>
        {% endif %}
        {% if record.name %}
            <p class="italic text-xl">{{ record.name }} ({{ record.game.name }})</p>
        {% endif %}
    </div>

    <a class="row-span-2 my-auto ml-2" target="_blank" href="{{ record.image.url }}" title="">
        <img class="max-h-80" src="{{ record.image.url }}" alt="">
    </a>
    <p>{{ record.description }}</p>
</div>
