<div class="w-full my-2 mx-auto p-4 flex flex-col rounded-lg">
    <div class="flex items-center mx-auto mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
        </svg>
        <p class="text-center font-bold inline-block">Records</p>
    </div>
    <div class="grid gap-2 {% if records.count > 2 %}grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4{% elif records.count == 2%}grid-cols-2{% else %}grid-cols-1{% endif %}">
        {% for record in records %}
            {% include 'website/partials/record.html' with record=record %}
        {% endfor %}
    </div>
</div>
